export OS_AUTH_URL=[AUTH_URL]
export OS_USERNAME=$USER
export OS_DOMAIN_NAME=[USER DOMAIN NAME]
export OS_PROJECT_NAME=[PROJECT NAME]
export OS_PROJECT_DOMAIN_NAME=$OS_DOMAIN_NAME
export OS_PASSWORD=[PASSWORD]
